
.header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

h1 {
  white-space: nowrap;
  flex-shrink: 0;
}

#hamburger {
    display: none;
}

nav {
    display: flex !important;
    flex-direction: row;
    gap: 4rem;
    justify-content: right;
}


.gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}