body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #003366;
  color: white;
  padding: 1rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1 {
  align-self: flex-start;
  margin: 1rem;
  font-size: 1.5rem;
}

#hamburger {
  font-size: 2rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
}

nav {
  display: none;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #003355;
}



main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.gallery img {
  width: 100%;
  height: auto;
}


figure {
  margin: 0;
  text-align: center;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #003366;
  color: white;
}
